@model MvcLeague.Models.Player

@{
    ViewData["Title"] = "Details";
    ViewData["Login"] = "true";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teamId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teamId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.playerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.playerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateOfBirth)
        </dd>
    </dl>
</div>
<div>
      <button class="editButton">
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> 
      </button>
         <button class="backToListButton">
    <a asp-action="Index">Back to List</a>
       </button>
</div>
