@model MvcLeague.Models.TeamPlayer
@{
    ViewData["Title"] = "Index";
    ViewData["Login"] = "true";
}

<h1>Index</h1>

<p>
      <button class="createButton">
    <a asp-action="Create">Create New</a>
      </button>
</p>

<form asp-controller="Players" asp-action="Index">
    <p>
        <select asp-for="teamPlayer" >
            <option value="">All</option>
            @foreach (var item in Model.teams!)
        {
                        <option value="@item.teamId">@item.teamName</option>
        }
        </select>

        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.players![0].nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.players![0].playerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.players![0].dateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.players!)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.playerName)
            </td>
   
            <td>
                @Html.DisplayFor(modelItem => item.dateOfBirth)
            </td>
            <td>
                <button class="editButton">
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
                    </button>
                             <button class="detailsButton">
                <a asp-action="Details" asp-route-id="@item.id">Details</a> 
                    </button>
                                <button class="deleteButton">
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    </button>
            </td>
        </tr>
}
    </tbody>
</table>