@model MvcLeague.Models.Team

@{
    ViewData["Title"] = "Details";
    ViewData["Login"] = "true";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.league)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.league)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.throphies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.throphies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marketValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marketValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teamName)
        </dd>
    </dl>
</div>
<div>
      <button class="editButton">
    <a asp-action="Edit" asp-route-id="@Model?.teamId">Edit</a> 
      </button>
      <button class="backToListButton">
    <a asp-action="Index">Back to List</a>
    </button>
</div>
