@model IEnumerable<MvcLeague.Models.TeamDTO>

@{
    ViewData["Title"] = "Index";
    ViewData["Login"] = "true";
}

<h1>Index</h1>

<p>
    <button class="createButton">
    <a asp-action="Create">Create New</a>
      </button>
</p>
<form asp-controller="Teams" asp-action="Index">
    <p>
        TeamName: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.league)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.teamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.throphies)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.league)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.teamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.throphies)
            </td>
            <td>
                     <button class="editButton">
                        <a asp-action="Edit" asp-route-id="@item.teamId">Edit</a>
                        </button>
                                 <button class="detailsButton">
                        <a asp-action="Details" asp-route-id="@item.teamId">Details</a> 
                        </button>
                                    <button class="deleteButton">
                        <a asp-action="Delete" asp-route-id="@item.teamId">Delete</a>
                        </button>
            </td>
        </tr>
}
    </tbody>
</table>
