@model IEnumerable<MvcLeague.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.league)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.teamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.throphies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marketValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.league)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.teamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.throphies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marketValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.teamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.teamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.teamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
